.modal-dialog {
    top: 50% !important;
    transform: translateY(-50%) !important;
    
    .modal-content {
        background-color: $white;
        border-radius: 2em;
        padding: 16px 24px 0;
        box-shadow: 0 1px 1px rgba($black, 0.075),
            0 2px 2px rgba($black, 0.075),
            0 4px 4px rgba($black, 0.075),
            0 8px 8px rgba($black, 0.075),
            0 16px 16px rgba($black, 0.075),
    }
}

#submit-dialog {
    h4 {
        font-weight: bold;
        margin: 0;
    }

    hr {
        border-color: rgba($grey, 0.4);
        margin: 16px 0;
    }

    .close-button {
        background-color: $white !important;
        outline: none !important;
        box-shadow: none !important;
        font-size: 1.2em;
        padding: 0;
        margin-left: auto;
        border: none;
    }

    .control-label {
        font-weight: 500;
        color: rgba($black, 0.7);
        margin-bottom: 5px;
    }

    label > span {
        font-weight: 400;
        font-size: 1.2em;
        margin: 10px 0;
    }
    
    .next-btn {
        height: 2.5em;
        max-width: 3em;
        margin-top: 14px;
    }
}
