$content-bg-color: $white;
$content-text-color: $black;

html, body {
  background-color: $content-bg-color;
  color: $content-text-color; 
}

.wrapper, .content {
    background-color: $content-bg-color !important;
    min-height: 100vh;
  }

  #shiny-notification-panel {
    top: 0;
    bottom: unset;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 450px;
  }