.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;

}

.icon-button {
    display: inline-flex;
    align-items: center;

    img {
        margin-right: 1em;
    }
}

.dashboard-user {
  small {
    font-style: italic;
  }
  
  .user-body {
    @extend .flex-center
  }
}

//
.flowbar-container {
    background-color: #f3f3f3;
    padding: 24px 0;
    position: absolute;
    top: 50px;
    left: 15px;
    width: 100%;
}

.flowbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.flowbar-box {
     @extend .flex-center;
     flex-direction: column;
     gap: 16px;
     height: 100px; // define height used to calculate margin-top for tab-content
     
    .flowbar-img {
      height: 64px;
      width: 64px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
    }
    
    .flowbar-text {
      font-weight: 600;
      white-space: break-spaces;
    }
  }
  
@media (max-width: 767px) {
      .flowbar-container {
        top: 100px;
      }
    }
    
// 
.tab-content {
  margin-top: 148px; // 100 + 24 * 2
  padding: 48px 0;
}